body {
    font-family: 'Inter';
    padding: 20px;
}

#signin, #createaccount, #joinwebank {
    color: #ffffff;
    background-color: #000000;
    border-radius: 12px;
    padding: .6rem;
    border-color: transparent;
}

#content, #header, #functions {
    display: flex;
}

#content {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

#buttonsattheright {
    /* float: right;
    margin-left: 55%;
    display: flex; */
    position: fixed;
    right: 0;
}

a {
    text-decoration: none;
}

an {
    font-family: 'Inter';
    font-size: 14px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#signin {
    margin-right: .3rem;
}

#imagediv {
    margin-left: 15%;
}

h3 {
    font-weight: normal;
}

#functions {
    margin-left: 2%;
}

.functionsbuttons {
    color: #000000;
    padding-right: 15px;
}

button, #signin {
    color: #ffffff;
}