body {
    font-family: 'Inter';
}

#body12 {
    background-color: #062763;
}

form {
    /* width: 28%;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    top: 80%;
    left: 35%; */
    /* margin: 0 auto; */

    left      : 50%;
    top       : 50%;
    width: 27%;
    height: 375px;
    position  : absolute;
    transform : translate(-50%, -50%);     
    background: #FFFFFF;
    border-radius: 20px;
    align-items: center;
}

#login, #register {
    background-color: 083E9E;
    color: #ffffff;
}

#mainformtext {
    /* position: absolute; */
    /* width: 213px; */
    height: 24px;
    padding-top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    color: #083E9E;
}

label {
    position: absolute;
    /* width: 35px; */
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7E8491;
}

input, button {
    /* position: absolute; */
    width: 295px;
    height: 43px;
    background: #EDF2F7;
    /* border-color: #EDF2F7; */
    border-color: transparent;
    border-radius: 7px;
    /* padding-left: 1rem; */
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

#passworddiv {
    padding-top: 10%;
}

#logindiv {
    padding-top: 10%;
}

.submit {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 43px; */
    text-align: center;
    background: #083E9E;
    border-color: transparent;
    border-radius: 7px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.form-group {
    /* position  : absolute; */
    width: 295px;
    margin: auto;
    padding-top: 7%;
}

#registrationform {
    height: auto;
}

a, h4 {
    font-family: 'Inter';
    font-size: 14px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
