<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <script src="https://kit.fontawesome.com/5daa8eb347.js" crossorigin="anonymous"></script>
    <title>Registration Page</title>
</head>

<body>
    <div id="sidebar">
        <a href="/"><span>WeBank</span></a>
        <a href="dashboard"><i class="fa-solid fa-house fa-fw"></i><span>Account Details</span></a>
        <a href="deposit"><i class="fa-solid fa-wallet fa-fw"></i><span>Deposit</span></a>
        <a href="withdraw"><i class="fa-solid fa-money-bill fa-fw"></i><span>Withdraw</span></a>
        <a href="transfer"><i class="fa-solid fa-money-bill-transfer fa-fw"></i><span>Transfer</span></a>
    </div>

    <div id="content">

    </div>
</body>

</html>