<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <script src="https://kit.fontawesome.com/5daa8eb347.js" crossorigin="anonymous"></script>
    <title>Deposit Page</title>
</header>

<body>
    <div id="mainpages">
        <div id="sidebar">
            <a href="/"><span>WeBank</span></a>
            <a href="dashboard"><i class="fa-solid fa-house fa-fw"></i><span>Account Details</span></a>
            <a href="deposit"><i class="fa-solid fa-wallet fa-fw"></i><span>Deposit</span></a>
            <a href="withdraw"><i class="fa-solid fa-money-bill fa-fw"></i><span>Withdraw</span></a>
            <a href="transfer"><i class="fa-solid fa-money-bill-transfer fa-fw"></i><span>Transfer</span></a>
        </div>

        <form action = '/deposit'>
            <div>
                <h2 id ="mainformtext">Quick Deposit</h2>
                <h4>Enter an amount to deposit</h4>
            </div>
            <div class="form-group">
                <label for="deposit">Amount</label><br>
                <span><input type="text" name="amount"></span>
            </div>
            <div class="form-group">
                <label for="accountnumber">Account Number</label><br>
                <span><input type="number" name="accountnumber"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="submit" value="DEPOSIT" name="depositbutton">
            </div>
        </form>
    </div>


</body>

</html>
