<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='homepage.css') }}" />
    <title>Landing Page</title>
</head>

<body>
    <div id="header" action = '/home'>
        <div id="logodiv">
            <p id="logo">WeBank</p>
        </div>
        <div id="functions">
            <p><a href="#" class="functionsbuttons">Save</a></p>
            <p><a href="#" class="functionsbuttons">Withdraw</a></p>
            <p><a href="#" class="functionsbuttons">Transfer</a></p>
        </div>
        <div id="buttonsattheright">
            <button type="button" id="signin"><a href="login">Sign In</a></button>
            <button type="button" id="createaccount"><a href="register">Create free account</a></button>
        </div>
    </div>
    <div id="content">
        <div>
            <h1>The Bank of the People</h1>
            <h3>Save, spend, send and invest money across borders</h3>
            <button type="button" id="joinwebank"><a href="register">Join WeBank</a></button>
        </div>
        <div id="imagediv">
            <img src="{{url_for('static', filename='bankimage.jpeg') }}" alt="Bank card image" width="250" height="250">
        </div>
    </div>
</body>

</html>