<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <title>Registration Page</title>
</head>

<body id="body12">
    <form id="registrationform" action = '/register'>
        <div>
            <h2 id ="mainformtext">Create a Secure Account</h2>
        </div>
        <div class="form-group">
            <label for="fname">First Name</label><br>
            <span><input type="text" name="firstname"></span>
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label><br>
            <span><input type="text" name="lastname"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label><br>
            <span><input type="text" name="email"></span>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label><br>
            <span><input type="phonenumber" name="phone"></span>
        </div>
        <div class="form-group">
            <label for="fname">Password</label><br>
            <span><input name="password" type="password"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="submit" name="registerbutton" value="CREATE ACCOUNT">
        </div>
        <h4><a href="login.html">Already have an account? Login</a></h4>
    </form>
</body>

</html>
